

.currency-div {
    font-size: 20px ; 
    display: flex ; 
    align-items: center; 
}


/* Expence Item-------------------------- */

.inde_btns {
    outline: none;
    border: none;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    transition: all 0.3s ease;
    padding-bottom: 5px;
    font-weight: 600;
}
.inde_btns:hover {
    box-shadow: 0.3px 0.3px 5px gray;
}
.inde_btns-delete {
    outline: none;
    border: none;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    transition: all 0.3s ease;
    padding-bottom: 5px;
    font-weight: 600;
    background-color: brown;
    color: white;
}
.inde_btns-delete:hover {
    box-shadow: 0.3px 0.3px 8px rgb(73, 39, 39);
}
.custom-select {
    outline: none;
    border-left: none;
    border: none;
    background-color: rgb(209, 93, 106);
    color: white;
    font-weight: 500;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    width: 150px;
    padding-left: 5px;
}

.curr_select {
    background-color: rgb(226, 227, 229);
    border: none;
    outline: none;
} 

@media (max-width: 550px) {
    .menu-names {
        font-size: 12px;
    }
    .inde_btns {
        height: 30px;
        width: 30px;
        padding-bottom: 3px;
    }
    .inde_btns-delete {
        height: 30px;
        width: 30px;
        padding-bottom: 3px;
        font-weight: 500;
        font-size: 12px;
    }
}





/* AllocationForm-------- */

.allocation-form {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
    padding: 0;
    margin: 0 0 50px 0;
}
.allocation-form2 {
    width: 100%;
    padding: 0;
    margin: 0;
}
.allocation-form3 {
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
}
.departament-div {
    display: flex;
}
.action-div {
    display: flex;
}
.submit-div {
    display: flex;
}
.add-cost-budget {
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(206, 209, 212);
    padding: 0 5px;
    width: 205px;
    max-width: 100%;
    transition: all 0.3s ease;
}


@media (max-width: 991px) {
    .allocation-form3 {
        display: flex;
        flex-direction: column;
    }
    .input-group-text {
        width: 200px;
        display: flex;
        justify-content: center;
        transition: all 0.3s ease;
    }
    .input-group-text_1 {
        width: 100%;
    }
    .custom-select {
        width: 100%;
    }
    .add-cost-budget{
        width: 100%;
    }
    .submit-div .btn {
        padding: 0 50px;
    }
}
@media (max-width: 540px) {
    .add-cost-budget {
        border-radius: 4px;
        outline: none;
        padding: 0 5px;
        width: 100%;
    }
    .custom-select {
        width: 100%;
    }
    .input-group-text {
        width: 120px;
        display: flex;
        justify-content: center;
    }
    .input-group-text_1 {
        width: 100%;
    }
}
@media (max-width: 450px) {
    .submit-div .btn {
        padding: 0 25px;
    }
}


/* Expense List */

.expences-item {
    width: 100%;
}
.all-btns {
    text-align: center;
}



@media (max-width: 550px) {
    .dep-name {
        font-size: 12px;
        font-weight: 500;
    }
}


/* Budget-------------------------- */
.budget-div {
    justify-content: space-between;
    display: flex;
    margin: 0 !important;
    box-sizing: border-box;
}
.budget-div .div2 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.total_budget {
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    margin: 0 0 0 5px !important;
    padding: 3px 5px;
    border-radius: 4px;
    box-sizing: border-box !important;
    font-weight: 600;
    display: flex;
}

/* Remaining----------- */

.style-div {
    display: flex;
    justify-content: space-between; 
}
.style-div .span2 {
    font-weight: 600;
}

/* App ------------------- */
.header-text {
    margin: 30px 0 50px 0 !important;
    line-height: 33px;
}
.header-side {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 !important;
    transition: all 1s ease;
    gap: 5px;
}
.header-displey {
    display: flex;
    gap: 5px;
    flex: 70%;
    transition: all 0.3s ease;
    margin: 0 !important;
    padding: 0;
}
.header-side_1 {
    flex: 30%;
    padding: 0;
    margin: 0 0 15px 0 !important;
}
.header-side div {
    width: 100%;
}
.style-allocation {
    margin: 30px 0 0 0 !important;
}

@media (max-width: 992px) {
    .header-side {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}
@media (max-width: 575px) {
    .header-displey {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0 !important;
    }
}
